body{
    background-image: url("assets/weather-background.jpg");
    background-size: cover;
    height: 100vh; 
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Applying animation to a heading */
.animated-heading {
    margin-top: 10px;
    font-size: 2rem;
    color: #000000;
    animation: fadeInSlideUp 1.5s ease-in-out forwards; /* Animation name, duration, easing, and fill mode */
}

/* Applying animation to a paragraph */
.animated-paragraph {
    font-size: 1rem;
    color: #302929;
    animation: fadeInSlideUp 2s ease-in-out forwards;
    animation-delay: 0.5s; /* Delay before the animation starts */
}
.container{
    display: grid;
    place-items: center;
    width: 100%;
    margin-top: 150px;
}
.main{
    width: 300px; 
    height: 200px;
    position: relative;
    background-color: rgb(243, 233, 233); 
    text-align: center; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.main label{
    font-weight: bolder;

}
.main input{
    margin-left: 0px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(194, 135, 135);
}
.main button{
    margin-top: 28px;
    border: none;
    border-radius: 10px;
    width: 40%;
    font-weight: bolder;
    box-shadow: 2px 2px 4px rgb(194, 135, 135);
}

.main button:hover{
    background-color: lightcoral;
    color: #fff;
}
.main p{
    margin-top: 20px;
    font-weight: bolder;
}


/* CSS for animations */
@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-heading {
    font-size: 2rem;
    color: #333;
    text-align: center;
    animation: fadeInSlideUp 1.5s ease-in-out forwards;
}

.animated-paragraph {
    font-size: 1rem;
    color: #555;
    text-align: center;
    animation: fadeInSlideUp 2s ease-in-out forwards;
    animation-delay: 0.5s;
}


/* Styling for the suggestions list */
.suggestions-list {
    position: absolute;
    top: 30%; /* Position directly below the input field */
    left: 10%;
    width: 80%; /* Match the width of the input field */
    max-height: 150px; /* Limit the height of the suggestions list */
    overflow-y: auto; /* Add scrollbar if the suggestions exceed max height */
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
    
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}
